@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */

/* html {
  font-family: "Roboto", sans-serif;
} */

/* 
body {
  background-color: #1c0d02;
}

.font-sen {
  font-family: "Sen", sans-serif;
}
.font-plex {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
} */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
